@use "../mixins";
@import "../variables";

.button {
	outline: none;
	border: none;
	transition: all 200ms ease-in-out;

	font-size: 12px;
	padding: 1.2rem 2.8rem;
	border-radius: 8px;
	width: fit-content;

	&:hover {
		cursor: pointer;
		filter: brightness(1.03);
	}

	&:active {
		filter: brightness(0.95);
	}

	// &:focus {
	// box-shadow:
	// 	$bg 0px 0px 0px 2px,
	// 	#d4942648 0px 0px 0px 4px;
	// }
}

.button--primary {
	background: var(--primary-button);
	color: var(--fg-button);
}

.button--border {
	border: 1px solid var(--gold);
	color: $primary;
	background: $button-border;
}

.button--secondary {
	background-color: $button-border;
	filter: grayscale(20%);
	color: $primary;
}

.button--square {
	aspect-ratio: 1;
	padding: 0.8rem;
	display: grid;
	place-content: center;
}

.button--small {
	padding: 1rem 2rem;
	font-size: 10px;
}

.button--large {
	font-size: 14px;
	padding: 1.25rem 3rem;
}

.button--square.button--small {
	padding: 0.5rem;
}
.button--square.button--large {
	padding: 1.2rem;
}
