@import "../variables";
@import "../mixins";

.input__container {
	width: 100%;
	height: 100%;
	background: var(--bg);
	border: 1px solid var(--border);
	border-radius: 8px;

	display: flex;
	align-items: center;

	input {
		flex: auto;

		border: none;
		padding: 14px 18px;
		outline: none;
		appearance: none;
		-moz-appearance: none;
		background: none;
		color: var(--fg);
	}

	svg {
		width: 18px;
		height: 18px;
		color: var(--button-fg);
		margin-right: 10px;
	}
}
