@import "mixins";

@import "reset";
@import "variables";

* {
	line-height: 1.2; // Standard line height

	// Removing default margin & padding to make layout more predictable.
	margin: 0;
	padding: 0;

	// Make all text the default body font-family unless otherwise stated somewhere else.
	@include font();
}

:root {
	@include font();

	--bg: #{$bg_light};
	--bg-header: #{$bg-header_light};
	--bg-hero: #{$bg-hero_light};

	--border: #{$border_light};
	--border-muted: #{$border-muted_light};

	--hero-fg: #{$hero-fg_light};

	--fg: #{$fg_light};
	--primary: #{$primary_light};

	--gold: #{$gold_light};

	--primary-button: #{$primary-button_light};
	--fg-button: #{$fg-button_light};

	--button-primary: #{$button-primary_light};
	--button-border: #{$button-border_light};
	--button-fg: #{$button-fg_light};
}

.dark {
	--bg: #{$bg_dark};
	--bg-header: #{$bg-header_dark};
	--bg-hero: #{$bg-hero_dark};

	--border: #{$border_dark};
	--border-muted: #{$border-muted_dark};

	--hero-fg: #{$hero-fg_dark};

	--fg: #{$fg_dark};
	--primary: #{$primary_dark};

	--gold: #{$gold_dark};

	--primary-button: #{$primary-button_dark};
	--button-border: #{$button-border_dark};
	--fg-button: #{$fg-button_dark};

	--button-primary: #{$button-primary_dark};
	--button-fg: #{$button-fg_dark};
}

html {
	background: var(--bg);
}

@import "components/button";
