$bg_dark: #252525 !default;
$bg-header_dark: #f6f4eb !default;
$bg-hero_dark: #f7e4bf !default;

$fg_dark: #f9f8f2 !default;
$primary_dark: #d28d26 !default;

$gold_dark: #c0980c !default;

$border_dark: #e3e0d3 !default;

$primary-button_dark: #e3e0d3 !default;
$fg-button_dark: #888371 !default;

$button-primary_dark: #e3e0d3 !default;
$button-fg_dark: #888371 !default;
