$bg_dark: #13120e !default;
$bg-header_dark: #161512 !default;
$bg-hero_dark: #1b1811 !default;

$hero-fg_dark: #aca194;

$fg_dark: #e2ddc1 !default;
$primary_dark: #eead4c !default;

$gold_dark: #cfb34c !default;

$border_dark: #2a2722 !default;

$border-muted_dark: #2a2722 !default;
$button-border_dark: #d6924431 !default;
$primary-button_dark: #2a251e !default;
$fg-button_dark: #746e59 !default;

//$button-fg_dark: #888371 !default;

$button-primary_dark: #2a251e !default;
$button-fg_dark: #746e59 !default;
