$bg_light: #f9f8f2;
$bg-header_light: #f6f4eb;
$bg-hero_light: #f7e4bf;

$hero-fg_light: #9a8568;

$fg_light: #252525;
$primary_light: #be8023;

$gold_light: #8d6e02;

$border_light: #e6e0c9 !default;
$border-muted_light: #c2bba1 !default;

$button-border_light: #f1912431 !default;
$primary-button_light: #e3e0d3;
$fg-button_light: #888371;

$button-primary_light: #e3e0d3;
$button-fg_light: #888371;
